<h1>ALL Products</h1>

<% @products.each do |prod|%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= prod.name %></td>
      <td><%= prod.price %></td>
      <td><button type="button" class="btn btn-info"><%= link_to 'show', product_path(prod) %> </button></td>
    </tr>

  </tbody>
</table>
<% end %>

<button type="button" class="btn btn-warning"><%= link_to 'New Product', new_product_path %></button>
   
    
<h1>Hello rails</h1>